{% extends "base.html" %}
{% block title %}
{{title}}
{% endblock title %}

{% block main %}

<main class='container bg-white mt-2 rounded-1 p-3'>
    
    <h1>Student</h1>
    <div class="row row-cols-2 row-gap-3">
        {% for text_detail in text_details %}
      <div class="col">
        <div class="card text-center">
          <div class="card-header">
            {{text_detail.title}}
          </div>
          <div class="card-body" style="height: 200px;">
            {% for s in student.score %}
            <h5 class="card-title"> {{text_detail.text}} </h5>
            {% endfor %}
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer text-body-secondary d-flex justify-content-between">
              <div>
                {{text_detail.name}}
              </div>
              <div>
                  {{text_detail.date_time}}(UTC+0)
              </div>
          </div>
        </div>     
      </div>
      {% endfor %}
    </div>
  </main>
    
{% endblock main %}

